<style>
    table, tr, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    td {
        padding: 6px;
    }
</style>
{% for provider,weather in data %}
    <h1 style="text-transform: capitalize">{{ provider }}</h1>
    <table>
        <tr>
            <td>Day</td>
            {% for key in weather %}
                {% for day,temps in key %}
                    <td>{{ day + 1 }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <td>Min</td>
            {% for key in weather %}
                {% for temps in key %}
                    <td>{{ temps.min }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <td>Max</td>
            {% for key in weather %}
                {% for temps in key %}
                    <td>{{ temps.max }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>
{% else %}
    No weather have been found.
{% endfor %}